@charset "UTF-8";
@font-face {
  font-family: "Caveat Brush";
  src: url("../../fonts/CaveatBrush-Regular.ttf");
}
@font-face {
  font-family: "Baloo 2";
  src: url("../../fonts/Baloo2-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-sizing: border-box;
}

body {
  scrollbar-width: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body::-webkit-scrollbar {
  width: 0px;
  /* ширина scrollbar */
}

body {
  min-width: 375px;
  position: relative;
}
body a {
  text-decoration: none;
  color: white;
}
body header {
  position: absolute;
  left: calc(50% - 750px);
  width: 1500px;
  height: 100px;
  z-index: 2;
  background-color: #37252C;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  padding: 25px 100px 0 100px;
  box-sizing: border-box;
  display: flex;
}
body header .mobile_menu {
  position: absolute;
  opacity: 0;
}
body header .mobile_menu > * {
  display: none;
}
body header .menu {
  display: none;
}
body header .logo {
  position: absolute;
  width: 116px;
  height: 50px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 2;
}
body header .logo span {
  background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body header .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body header .logo span {
    font-size: 25px;
  }
}
body header > nav {
  margin-left: 258px;
  line-height: 50px;
  width: 650px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
body header > nav a {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
body header > nav a:hover, body header > nav a.active {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body header > nav {
    margin-left: 114px;
    line-height: 40px;
    width: 460px;
  }
  body header > nav a {
    font-size: 15px;
  }
}
body header .avatar {
  display: none;
}
body header .avatar.active {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 341px;
  border-radius: 50%;
  background-size: 50px 50px;
}
@media (min-width: 769px) and (max-width: 1500px) {
  body header .avatar.active {
    width: 40px;
    height: 40px;
    right: 75px;
    background-size: 40px 40px;
  }
}
body header .avatar.active img {
  width: 100%;
}
body header .button {
  z-index: 3;
  width: 220px;
  height: 50px;
  right: 100px;
  position: absolute;
}
body header .button img {
  display: none;
}
@media (max-width: 1500px) {
  body header .button {
    width: 40px;
    height: 40px;
    right: 20px;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    border-radius: 50%;
  }
  body header .button img {
    display: block;
    width: 40px;
    height: 40px;
  }
  body header .button:hover {
    filter: drop-shadow(0px 0px 10px #FF8A00);
  }
}
body header .button:hover .shadow {
  position: absolute;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  filter: blur(50px);
}
@media (min-width: 768px) and (max-width: 1500px) {
  body header .button:hover .shadow {
    display: none;
  }
}
@media (max-width: 768px) {
  body header .button:hover .shadow {
    display: none;
  }
}
body header .button .but {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(355.71deg, #B85607 2.97%, #FFB168 96.51%);
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body header .button .but {
    display: none;
  }
}
@media (max-width: 768px) {
  body header .button .but {
    display: none;
  }
}
body header .button .but p {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #181818;
  text-transform: uppercase;
}
body header .button .but p:active {
  color: white;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body header {
    width: 730px;
    left: calc(50% - 365px);
    height: 80px;
    padding: 20px 20px 0 20px;
  }
}
@media (max-width: 768px) {
  body header {
    width: 340px;
    height: 70px;
    padding: 15px 29px 0 29px;
    left: calc(50% - 170px);
    transition: 0.5s height;
  }
  body header .menu {
    z-index: 3;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    transition: 1s transform;
  }
  body header .menu:hover {
    filter: drop-shadow(0px 0px 10px #FF8A00);
  }
  body header .menu.active {
    background: white;
    transform: rotate(90deg);
  }
  body header .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
    left: 130px;
  }
  body header .logo span {
    font-size: 25px;
  }
  body header > nav {
    display: none;
  }
  body header .avatar {
    display: none;
  }
  body header .avatar.active {
    display: none;
  }
  body header.active {
    height: 430px;
  }
  body header.active .mobile_menu {
    opacity: 1;
    transition: 0.1s opacity 0.5s;
    width: 140px;
    height: 290px;
    top: 100px;
    left: 30px;
    display: flex;
    flex-direction: column;
  }
  body header.active .mobile_menu > nav {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body header.active .mobile_menu > nav a {
    color: white;
    text-decoration: none;
    font-family: "Baloo 2";
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
  }
  body header.active .mobile_menu > nav a:hover, body header.active .mobile_menu > nav a.active {
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  body header.active .mobile_menu > div {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 140px;
    display: flex;
    justify-content: space-between;
  }
  body header.active .mobile_menu > div a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  }
  body header.active .mobile_menu > div a:hover {
    filter: drop-shadow(0px 0px 5px #FF8A00);
  }
  body header.active .mobile_menu > div a img {
    height: 40px;
    width: 40px;
  }
}
body main {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 310px;
}
body main .fon {
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #3F1D24;
  position: absolute;
  z-index: -1;
}
body main .fon .fon1 {
  height: 1100px;
  background-image: url("../../image/fon/forest2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body main .fon .fon1 .fon2 {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url("../../image/fon/fonn.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}
body main .fon .fon3 {
  position: absolute;
  height: 700px;
  width: 100%;
  bottom: 0;
  background-image: url("../../image/fon/nforestt.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
@media (min-width: 769px) and (max-width: 1500px) {
  body main .fon .fon1 {
    height: 1200px;
  }
  body main .fon .fon3 {
    height: 420px;
  }
}
@media (max-width: 768px) {
  body main .fon .fon1 {
    height: 960px;
  }
  body main .fon .fon1 .fon2 {
    height: 60px;
  }
  body main .fon .fon3 {
    display: none;
  }
}
body main .sec1 {
  min-height: 2150px;
  width: 1300px;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 100px;
}
body main .sec1 h2 {
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 76px;
  text-align: center;
  width: 1080px;
  height: 152px;
  margin: 0 auto 50px;
  color: white;
  text-shadow: 3px 0px 0px #000, -3px 0px 0px #000, 0px -3px 0px #000, 0px 3px 0px #000, 3px 3px 0px black, -3px -3px 0px black, 3px -3px 0px black, -3px 3px 0px black;
}
body main .sec1 .timer {
  position: relative;
  margin: 0 auto;
  background: #37252C;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 640px;
  height: 200px;
  margin-bottom: 100px;
}
body main .sec1 .timer .time {
  top: 30px;
  position: absolute;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 130px;
  line-height: 110px;
  text-align: left;
  text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px -2px 0px #000, 0px 2px 0px #000, 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
  margin-left: 70px;
}
body main .sec1 .timer .time.nosh {
  text-shadow: none;
}
body main .sec1 .timer .datehormin {
  position: absolute;
  top: 140px;
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px 0 50px;
}
body main .sec1 .timer .datehormin p {
  width: 140px;
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: white;
  text-align: center;
}
body main .sec1 .cards {
  width: 1320px;
  min-height: 1330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
body main .sec1 .cards .card {
  width: 310px;
  height: 650px;
  border-radius: 20px;
  background-color: #37252C;
  margin-bottom: 30px;
  margin-right: 20px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}
body main .sec1 .cards .card:nth-child(4n) {
  margin-right: 0;
}
body main .sec1 .cards .card img {
  width: 100%;
}
body main .sec1 .cards .card .soldd {
  position: absolute;
  top: 150px;
  z-index: 1;
  width: 310px;
  height: 150px;
  background-image: url("../../image/drop/sold.png");
  background-size: 100% 150px;
  background-repeat: no-repeat;
  display: none;
}
body main .sec1 .cards .card .text {
  width: 100%;
  height: 350px;
  background-color: #181818;
  position: absolute;
  bottom: 0;
}
body main .sec1 .cards .card .text .vdiv {
  height: 80px;
  border-bottom: 1px solid #3D2D33;
  padding-top: 10px;
}
body main .sec1 .cards .card .text .vdiv .name {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
body main .sec1 .cards .card .text .vdiv .price {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
body main .sec1 .cards .card .text .ndiv {
  width: 100%;
  height: 260px;
  padding: 0 30px;
  padding-top: 15px;
}
body main .sec1 .cards .card .text .ndiv .str {
  height: 29px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
body main .sec1 .cards .card .text .ndiv .str span:nth-child(1) {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #806F75;
}
body main .sec1 .cards .card .text .ndiv .str span:nth-child(2) {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: white;
}
body main .sec1 .cards .card .text .ndiv .name {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #806F75;
}
body main .sec1 .cards .card .text .ndiv > .texx {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}
body main .sec1 .cards .card .text .button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  border-radius: 20px;
  text-align: center;
}
body main .sec1 .cards .card .text .button span {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #181818;
}
body main .sec1 .cards .card .text .button span:nth-child(2) {
  display: none;
}
body main .sec1 .cards .card .text .button:hover {
  background: linear-gradient(355.71deg, #ff7300 2.97%, #ffa047 96.51%);
}
body main .sec1 .cards .card.sold .text .button {
  background: #88767D;
}
body main .sec1 .cards .card.sold .text .button span:nth-child(1) {
  display: none;
}
body main .sec1 .cards .card.sold .text .button span:nth-child(2) {
  display: inline;
}
body main .sec1 .cards .card.sold .soldd {
  display: block;
}
@media (min-width: 769px) and (max-width: 1500px) {
  body main {
    padding: 80px 0;
    padding-bottom: 470px;
  }
  body main .sec1 {
    min-height: 2600px;
    width: 728px;
    padding-top: 50px;
  }
  body main .sec1 h2 {
    width: 530px;
    height: 150px;
    font-size: 40px;
    line-height: 50px;
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px -2px 0px #000, 0px 2px 0px #000, 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
    margin-bottom: 30px;
  }
  body main .sec1 .timer {
    margin-bottom: 25px;
    width: 450px;
    height: 170px;
  }
  body main .sec1 .timer .time {
    top: 15px;
    margin-left: 75px;
    font-size: 80px;
    line-height: 101px;
  }
  body main .sec1 .timer .datehormin {
    top: 115px;
    padding: 0 50px 0 50px;
  }
  body main .sec1 .timer .datehormin p {
    font-size: 18px;
    line-height: 29px;
  }
  body main .sec1 .cards {
    width: 728px;
    min-height: 1800px;
  }
  body main .sec1 .cards .card {
    width: 220px;
    height: 580px;
    margin-right: 34px;
    margin-bottom: 30px;
  }
  body main .sec1 .cards .card:nth-child(4n) {
    margin-right: 34px;
  }
  body main .sec1 .cards .card:nth-child(3n) {
    margin-right: 0;
  }
  body main .sec1 .cards .card .text {
    height: 340px;
  }
  body main .sec1 .cards .card .text .vdiv {
    height: 80px;
    padding-top: 20px;
    border: none;
  }
  body main .sec1 .cards .card .text .vdiv .name {
    font-size: 18px;
    line-height: 29px;
  }
  body main .sec1 .cards .card .text .vdiv .price {
    font-size: 20px;
    line-height: 32px;
  }
  body main .sec1 .cards .card .text .ndiv {
    padding: 0 20px;
    padding-top: 10px;
  }
  body main .sec1 .cards .card .text .ndiv .str {
    height: 24px;
  }
  body main .sec1 .cards .card .text .ndiv .str span:nth-child(1), body main .sec1 .cards .card .text .ndiv .str span:nth-child(2) {
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .cards .card .text .ndiv .name {
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .cards .card .text .ndiv .texx {
    font-size: 12px;
    line-height: 21px;
  }
  body main .sec1 .cards .card .text .button span {
    font-size: 18px;
  }
  body main .sec1 .cards .card .soldd {
    width: 220px;
    height: 110px;
    top: 120px;
    background-size: 100% 100%;
  }
}
@media (max-width: 769px) {
  body main {
    padding: 70px 0;
    padding-bottom: 120px;
  }
  body main .sec1 {
    min-height: 1305px;
    width: 335px;
    padding-top: 33px;
  }
  body main .sec1 h2 {
    width: 335px;
    height: 96px;
    font-size: 25px;
    line-height: 32px;
    text-shadow: 2px 0px 0px #000, -2px 0px 0px #000, 0px -2px 0px #000, 0px 2px 0px #000, 2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black;
    margin-bottom: 30px;
  }
  body main .sec1 .timer {
    margin-bottom: 40px;
    width: 250px;
    height: 110px;
  }
  body main .sec1 .timer .time {
    font-size: 40px;
    line-height: 50px;
    top: 20px;
    margin-left: 50px;
    position: absolute;
  }
  body main .sec1 .timer .datehormin {
    top: 70px;
    padding: 0 35px 0 35px;
  }
  body main .sec1 .timer .datehormin p {
    width: 60px;
    font-size: 13px;
    line-height: 21px;
  }
  body main .sec1 .cards {
    width: 336px;
    min-height: 946px;
  }
  body main .sec1 .cards .card {
    width: 158px;
    height: 463px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
  }
  body main .sec1 .cards .card:nth-child(4n) {
    margin-right: 20px;
  }
  body main .sec1 .cards .card:nth-child(3n) {
    margin-right: 20px;
  }
  body main .sec1 .cards .card:nth-child(2n) {
    margin-right: 0;
  }
  body main .sec1 .cards .card .text {
    height: 290px;
  }
  body main .sec1 .cards .card .text .vdiv {
    border: none;
    height: 55px;
  }
  body main .sec1 .cards .card .text .vdiv .name {
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .cards .card .text .vdiv .price {
    font-size: 18px;
    line-height: 29px;
  }
  body main .sec1 .cards .card .text .ndiv {
    height: 283px;
    padding: 0 10px;
    padding-top: 15px;
  }
  body main .sec1 .cards .card .text .ndiv .str {
    height: 24px;
  }
  body main .sec1 .cards .card .text .ndiv .str span:nth-child(1), body main .sec1 .cards .card .text .ndiv .str span:nth-child(2) {
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .cards .card .text .ndiv .name {
    font-size: 15px;
    line-height: 24px;
    height: 24px;
    margin-bottom: 5px;
  }
  body main .sec1 .cards .card .text .ndiv .texx {
    font-size: 10px;
    line-height: 16px;
  }
  body main .sec1 .cards .card .text .button {
    height: 30px;
    border-radius: 15px;
  }
  body main .sec1 .cards .card .text .button span {
    font-size: 15px;
    line-height: 30px;
  }
  body main .sec1 .cards .card .soldd {
    top: 90px;
    width: 158px;
    height: 77px;
    background-size: 100% 100%;
  }
}
body footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 750px);
  width: 1500px;
  height: 100px;
  z-index: 2;
  background-color: #37252C;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 25px 100px 0 100px;
}
body footer .logo {
  position: absolute;
  width: 116px;
  height: 50px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
body footer .logo span {
  background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body footer .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body footer .logo span {
    font-size: 25px;
  }
}
body footer nav {
  margin-left: 288px;
  line-height: 50px;
  width: 650px;
  display: flex;
  justify-content: space-between;
}
body footer nav a {
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}
body footer nav a:hover, body footer nav a.active {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body footer nav {
    margin-left: 144px;
    line-height: 40px;
    width: 350px;
  }
  body footer nav a {
    font-size: 15px;
  }
}
body footer .buttons {
  width: 160px;
  height: 40px;
  position: absolute;
  right: 100px;
  top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1500px) {
  body footer .buttons {
    width: 140px;
    top: 20px;
    right: 20px;
  }
}
body footer .buttons div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
}
body footer .buttons div img {
  border-radius: 50%;
}
body footer .buttons div:hover {
  filter: drop-shadow(0px 0px 10px #FF8A00);
}
@media (min-width: 768px) and (max-width: 1500px) {
  body footer {
    left: calc(50% - 365px);
    width: 730px;
    height: 80px;
    padding: 20px 20px 0 20px;
  }
  body footer .tokenomics {
    display: none;
  }
}
@media (max-width: 768px) {
  body footer {
    width: 340px;
    height: 70px;
    padding: 15px 20px 0 20px;
    left: calc(50% - 170px);
  }
  body footer nav {
    display: none;
  }
  body footer .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body footer .logo span {
    font-size: 25px;
  }
  body footer .buttons {
    width: 140px;
    top: 15px;
    right: 20px;
  }
}
body .senails {
  position: fixed;
  z-index: 5;
  right: 1vh;
  top: 15vh;
  width: 5vh;
  height: 15vh;
}
@media (max-width: 768px) {
  body .senails {
    top: 35vh;
  }
}
body .senails img {
  width: 5vh;
  height: 5vh;
}