@font-face {
    font-family: 'Caveat Brush';
    src: url('../../fonts/CaveatBrush-Regular.ttf');
}

@font-face {
    font-family: 'Baloo 2';
    src: url('../../fonts/Baloo2-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

$boder3px:3px 0px 0px #000,
-3px 0px 0px #000,
0px -3px 0px #000,
0px 3px 0px #000,
3px 3px 0px black,
-3px -3px 0px black,
3px -3px 0px black,
-3px 3px 0px black;
$boder2px:2px 0px 0px #000,
-2px 0px 0px #000,
0px -2px 0px #000,
0px 2px 0px #000,
2px 2px 0px black,
-2px -2px 0px black,
2px -2px 0px black,
-2px 2px 0px black;
body {
    min-width: 375px;
    position: relative;
    background-color: gray;
    a {
        text-decoration: none;
        color: white;
    }
    header {
        position: absolute;
        left: calc(50% - 750px);
        width: 1500px;
        height: 100px;
        z-index: 2;
        background-color: #37252C;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
        padding: 25px 100px 0 100px;
        box-sizing: border-box;
        display: flex;
        .mobile_menu {
            position: absolute;
            opacity: 0;
            >* {
                display: none;
            }
        }
        .menu {
            display: none;
        }
        .logo {
            position: absolute;
            width: 116px;
            height: 50px;
            font-family: 'Caveat Brush';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            z-index: 2;
            span {
                background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            @media (min-width: 769px) and (max-width: 1500px) {
                width: 90px;
                height: 40px;
                line-height: 20px;
                font-size: 20px;
                span {
                    font-size: 25px;
                }
            }
        }
        >nav {
            margin-left: 258px;
            line-height: 50px;
            width: 650px;
            display: flex;
            justify-content: space-between;
            z-index: 2;
            a {
                font-family: 'Baloo 2';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                text-decoration: none;
                text-transform: uppercase;
                color: #FFFFFF;
                &:hover,
                &.active {
                    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
            @media (min-width: 769px) and (max-width: 1500px) {
                margin-left: 114px;
                line-height: 40px;
                width: 460px;
                a {
                    font-size: 15px;
                }
            }
        }
        .avatar.active {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 341px;
            border-radius: 50%;
            background-image: url('../../image/avatar.png');
            background-size: 50px 50px;
            @media (min-width: 769px) and (max-width: 1500px) {
                width: 40px;
                height: 40px;
                right: 75px;
                background-size: 40px 40px;
            }
        }
        .button {
            z-index: 3;
            width: 220px;
            height: 50px;
            right: 100px;
            position: absolute;
            img {
                display: none;
            }
            @media(max-width: 1500px) {
                width: 40px;
                height: 40px;
                right: 20px;
                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                border-radius: 50%;
                img {
                    display: block;
                    width: 40px;
                    height: 40px;
                }
                &:hover {
                    filter: drop-shadow(0px 0px 10px #FF8A00);
                }
            }
            &:hover .shadow {
                position: absolute;
                width: 200px;
                height: 50px;
                margin: 0 auto;
                border-radius: 50%;
                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                filter: blur(50px);
                @media (min-width: 769px) and (max-width: 1500px) {
                    display: none;
                }
                @media (max-width: 768px) {
                    display: none;
                }
            }
            .but {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                background: linear-gradient(355.71deg, #B85607 2.97%, #FFB168 96.51%);
                z-index: 2;
                @media (min-width: 769px) and (max-width: 1500px) {
                    display: none;
                }
                @media (max-width: 768px) {
                    display: none;
                }
                p {
                    font-family: 'Baloo 2';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 50px;
                    text-align: center;
                    color: #181818;
                    text-transform: uppercase;
                    &:active {
                        color: white;
                    }
                }
            }
        }
        @media (min-width: 769px) and (max-width: 1500px) {
            width: 730px;
            left: calc(50% - 365px);
            height: 80px;
            padding: 20px 20px 0 20px;
        }
        @media (max-width: 768px) {
            width: 340px;
            height: 70px;
            padding: 15px 29px 0 29px;
            left: calc(50% - 170px);
            transition: 0.5s height;
            .menu {
                z-index: 3;
                display: block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                transition: 1s transform;
                &:hover {
                    filter: drop-shadow(0px 0px 10px #FF8A00);
                }
                &.active {
                    background: white;
                    transform: rotate(90deg);
                }
            }
            .logo {
                width: 90px;
                height: 40px;
                line-height: 20px;
                font-size: 20px;
                left: 130px;
                span {
                    font-size: 25px;
                }
            }
            >nav {
                display: none;
            }
            .avatar {
                display: none;
            }
            &.active {
                height: 430px;
                .mobile_menu {
                    opacity: 1;
                    transition: 0.1s opacity 0.5s;
                    width: 140px;
                    height: 290px;
                    top: 100px;
                    left: 30px;
                    display: flex;
                    flex-direction: column;
                    >nav {
                        height: 220px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        a {
                            color: white;
                            text-decoration: none;
                            font-family: 'Baloo 2';
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 24px;
                            text-transform: uppercase;
                            &:hover,
                            &.active {
                                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                        }
                    }
                    >div {
                        position: absolute;
                        bottom: 0;
                        height: 40px;
                        width: 140px;
                        display: flex;
                        justify-content: space-between;
                        a {
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                            background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                            &:hover {
                                filter: drop-shadow(0px 0px 5px #FF8A00);
                            }
                            img {
                                height: 40px;
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        min-height: 100vh;
        position: relative;
        padding-top: 100px;
        padding-bottom: 250px;
        .fon {
            top: 0px;
            height: 100%;
            width: 100%;
            background-color: #3F1D24;
            position: absolute;
            z-index: -1;
            .fon1 {
                height: 1100px;
                background-image: url('../../image/fon/forest2.png');
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                .fon2 {
                    height: 120px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background-image: url('../../image/fon/fonn.png');
                    background-repeat: no-repeat;
                    background-size: 150% 100%;
                }
            }
            @media (min-width: 769px) and (max-width: 1500px) {
                .fon1 {
                    height: 1200px;
                }
            }
            @media (max-width: 768px) {
                .fon1 {
                    height: 960px;
                    .fon2 {
                        height: 60px;
                    }
                }
            }
        }
        .sec1 {
            min-height: 1150px;
            width: 1300px;
            margin: 0 auto;
            border-radius: 20px;
            padding-top: 95px;
            position: relative;
            .menu {
                position: absolute;
                top: 35px;
                width: 1300px;
                height: 500px;
                display: flex;
                justify-content: space-between;
                .profile {
                    width: 310px;
                    height: 500px;
                    background: #37252C;
                    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
                    border-radius: 20px;
                    padding-top: 30px;
                    text-align: center;
                    img {
                        width: 170px;
                        height: 170px;
                        border-radius: 50%;
                        margin-bottom: 15px;
                    }
                    .wallet {
                        font-family: 'Baloo 2';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 25px;
                        line-height: 40px;
                        text-align: center;
                        text-transform: uppercase;
                        background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        margin-bottom: 19px;
                    }
                    .select {
                        height: 126px;
                        margin-bottom: 48px;
                        p {
                            font-family: 'Baloo 2';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 38px;
                            text-align: center;
                            text-transform: uppercase;
                            &:nth-child(1),
                            &:nth-child(2) {
                                border-bottom: 1px solid #3D2D33;
                            }
                            &:nth-child(2) {
                                line-height: 43px;
                            }
                            &:not(:hover),
                            &:not(.active) {
                                color: #FFFFFF;
                            }
                            &:hover,
                            &.active {
                                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                            }
                        }
                    }
                    >p {
                        font-family: 'Baloo 2';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        text-align: center;
                        color: #88767D;
                    }
                }
                .nav {
                    z-index: 2;
                    width: 970px;
                    height: 40px;
                    border-radius: 20px;
                    display: flex;
                    justify-content: space-between;
                    .poisk {
                        width: 530px;
                        height: 40px;
                        border-radius: 20px;
                        background: #37252C;
                        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
                        padding-top: 8px;
                        position: relative;
                        img {
                            width: 24px;
                            height: 24px;
                            margin-left: 20px;
                        }
                        input {
                            position: absolute;
                            top: 8px;
                            margin-left: 10px;
                            height: 24px;
                            outline: none;
                            border: none;
                            width: 400px;
                            background-color: #37252C;
                            font-family: 'Baloo 2';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 26px;
                            text-align: left;
                            color: rgb(228, 228, 228);
                            &::placeholder {
                                color: #88767D;
                            }
                        }
                    }
                    .Ditems {
                        width: 200px;
                        transition: 0.2s height;
                        height: 40px;
                        border-radius: 20px;
                        background: #37252C;
                        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
                        .main {
                            width: 160px;
                            height: 40px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-left: 20px;
                            .mainname {
                                font-family: 'Baloo 2';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 29px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin-left: 10px;
                            }
                            .img {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-size: contain;
                                background-image: url('../../image/profile/rij.png');
                            }
                        }
                        .select {
                            opacity: 0;
                        }
                        &.active {
                            height: 150px;
                            .main {
                                .img {
                                    background-image: url('../../image/profile/wit.png');
                                }
                            }
                            .select {
                                opacity: 1;
                                transition: 1s opacity;
                                display: flex;
                                width: 100%;
                                height: 110px;
                                flex-direction: column;
                                border-top: 1px solid #3D2D33;
                                padding: 10px 0 12px 30px;
                                justify-content: space-between;
                                p {
                                    font-family: 'Baloo 2';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 26px;
                                    &:not(.active),
                                    &:not(:hover) {
                                        color: #FFFFFF;
                                    }
                                    &.active,
                                    &:hover {
                                        background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        background-clip: text;
                                    }
                                }
                            }
                        }
                    }
                    .raritis {
                        width: 200px;
                        transition: 0.2s height;
                        height: 40px;
                        border-radius: 20px;
                        background: #37252C;
                        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
                        .main {
                            width: 160px;
                            height: 40px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-left: 20px;
                            .mainname {
                                font-family: 'Baloo 2';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 29px;
                                text-transform: uppercase;
                                color: #FFFFFF;
                                margin-left: 10px;
                            }
                            .img {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-size: contain;
                                background-image: url('../../image/profile/rij.png');
                            }
                        }
                        .select {
                            opacity: 0;
                        }
                        &.active {
                            height: 240px;
                            .main {
                                .img {
                                    background-image: url('../../image/profile/wit.png');
                                }
                            }
                            .select {
                                transition: 1s opacity;
                                opacity: 1;
                                display: flex;
                                width: 100%;
                                height: 200px;
                                flex-direction: column;
                                border-top: 1px solid #3D2D33;
                                padding: 10px 0 12px 30px;
                                justify-content: space-between;
                                p {
                                    font-family: 'Baloo 2';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 26px;
                                    &:not(.active),
                                    &:not(:hover) {
                                        color: #FFFFFF;
                                    }
                                    &.active,
                                    &:hover {
                                        background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        background-clip: text;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cards {
                display: flex;
                width: 1300px;
                min-height: 900px;
                flex-wrap: wrap;
                .card {
                    width: 310px;
                    height: 440px;
                    border-radius: 20px;
                    background-color: #181818;
                    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
                    margin-left: 20px;
                    margin-bottom: 20px;
                    position: relative;
                    overflow: hidden;
                    &:nth-child(1) {
                        margin-left: 330px;
                    }
                    &:nth-child(4n) {
                        margin-left: 0;
                    }
                    >img {
                        position: absolute;
                        width: 100%;
                    }
                    .text {
                        position: absolute;
                        bottom: 0;
                        z-index: 1;
                        background-color: #181818;
                        width: 100%;
                        height: 100px;
                        border-radius: 0 0 20px 20px;
                        padding-top: 10px;
                        p {
                            font-family: 'Baloo 2';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 32px;
                            /* identical to box height */
                            text-align: center;
                            text-transform: uppercase;
                            /* Style */
                            color: #FFFFFF;
                        }
                        .heart {
                            position: absolute;
                            width: 20px;
                            height: 19px;
                            right: 22px;
                            bottom: 22px;
                            background-image: url('../../image/profile/wherat.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            z-index: 2;
                        }
                        >.menu {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            top: auto;
                            width: 60px;
                            height: 60px;
                            border-radius: 0px 20px 0px 20px;
                            background-color: #181818;
                            transition: 0.2s;
                            ul {
                                opacity: 0;
                                transition: 1s opacity 0.2s;
                                li {
                                    display: none;
                                }
                            }
                            .cat {
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                bottom: 20px;
                                left: 20px;
                                background-image: url('../../image/profile/wcat.png');
                                background-size: contain;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                    &.like {
                        .text {
                            .heart {
                                background-image: url('../../image/profile/rherat.png');
                            }
                        }
                    }
                    &.active {
                        .text {
                            >.menu {
                                width: 200px;
                                height: 230px;
                                background-color: rgba(24, 24, 24, 0.9);
                                ;
                                ul {
                                    opacity: 1;
                                    position: absolute;
                                    top: 20px;
                                    left: 20px;
                                    width: 160px;
                                    height: 150px;
                                    list-style: none;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    li {
                                        display: block;
                                        font-family: 'Baloo 2';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 16px;
                                        line-height: 26px;
                                        &:not(:hover) {
                                            color: #FFFFFF;
                                        }
                                        &:hover {
                                            background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                                            -webkit-background-clip: text;
                                            -webkit-text-fill-color: transparent;
                                            background-clip: text;
                                        }
                                    }
                                }
                                .cat {
                                    background-image: url('../../image/profile/rcat.png');
                                }
                                @media (min-width: 1500px) {
                                    background-color: rgba(24, 24, 24, 1);
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (min-width: 769px) and (max-width: 1500px) {
            padding: 80px 0;
            padding-bottom: 240px;
            .sec1 {
                min-height: 1030px;
                width: 728px;
                padding-top: 149px;
                .menu {
                    top: 34px;
                    width: 728px;
                    height: 395px;
                    .profile {
                        width: 167px;
                        height: 395px;
                        padding-top: 20px;
                        img {
                            width: 125px;
                            height: 125px;
                            margin-bottom: 5px;
                        }
                        .wallet {
                            font-size: 18px;
                            line-height: 29px;
                            margin-bottom: 20px;
                        }
                        .select {
                            height: 102px;
                            margin-bottom: 50px;
                            p {
                                font-size: 15px;
                                line-height: 34px;
                                &:nth-child(2) {
                                    line-height: 34px;
                                }
                            }
                        }
                    }
                    .nav {
                        flex-wrap: wrap;
                        width: 541px;
                        height: 95px;
                        .poisk {
                            width: 541px;
                            margin-bottom: 15px;
                        }
                        .Ditems,
                        .raritis {
                            width: 263px;
                            .main {
                                width: 223px;
                            }
                        }
                    }
                }
                .cards {
                    width: 728px;
                    min-height: 880px;
                    .card {
                        width: 167px;
                        height: 280px;
                        &:nth-child(1) {
                            margin-left: 187px;
                        }
                        .text {
                            padding-top: 5px;
                            height: 78px;
                            p {
                                font-size: 18px;
                                line-height: 29px;
                            }
                            .heart {
                                right: 17px;
                                bottom: 12px;
                            }
                            >.menu {
                                height: 40px;
                                width: 40px;
                                .cat {
                                    bottom: 12px;
                                    left: 17px;
                                }
                            }
                        }
                        &.active .text>.menu {
                            width: 100%;
                            border-radius: 0;
                            height: 280px;
                            ul {
                                top: 27px;
                                left: 17px;
                                height: 190px;
                                li {
                                    font-size: 14px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 769px) {
            padding: 70px 0;
            padding-bottom: 170px;
            .sec1 {
                min-height: 1305px;
                width: 335px;
                padding-top: 425px;
                .menu {
                    z-index: 1;
                    top: 20px;
                    width: 335px;
                    height: 390px;
                    flex-direction: column;
                    align-items: center;
                    .profile {
                        width: 157px;
                        height: 280px;
                        padding-top: 15px;
                        img {
                            width: 80px;
                            height: 80px;
                            margin-bottom: 5px;
                        }
                        .wallet {
                            font-size: 15px;
                            line-height: 24px;
                            margin-bottom: 10px;
                        }
                        .select {
                            height: 90px;
                            margin-bottom: 21px;
                            p {
                                font-size: 13px;
                                line-height: 30px;
                                &:nth-child(2) {
                                    line-height: 30px;
                                }
                            }
                        }
                    }
                    .nav {
                        width: 335px;
                        height: 95px;
                        flex-wrap: wrap;
                        .poisk {
                            width: 335px;
                            margin-bottom: 15px;
                            input {
                                width: 250px
                            }
                        }
                        .Ditems,
                        .raritis {
                            width: 157px;
                            .main {
                                width: 128px;
                                margin-left: 15px;
                                .mainname {
                                    margin-left: 0;
                                    font-size: 15px;
                                    line-height: 24px;
                                }
                            }
                        }
                        .Ditems {
                            .main {
                                .mainname {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
                .cards {
                    width: 335px;
                    min-height: 780px;
                    .card {
                        width: 158px;
                        height: 250px;
                        margin: 0;
                        margin-bottom: 15px;
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                        &:nth-child(2n) {
                            margin-left: 19px;
                        }
                        .text {
                            height: 70px;
                            padding-top: 5px;
                            p {
                                font-size: 15px;
                                line-height: 24px;
                            }
                            .heart {
                                bottom: 12px;
                                right: 12px;
                            }
                            >.menu {
                                width: 40px;
                                height: 40px;
                                .cat {
                                    bottom: 12px;
                                    left: 12px;
                                }
                            }
                        }
                        &.active .text>.menu {
                            width: 100%;
                            border-radius: 0;
                            height: 250px;
                            ul {
                                top: 24px;
                                left: 12px;
                                height: 170px;
                                li {
                                    font-size: 14px;
                                    line-height: 22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        position: absolute;
        bottom: 0;
        left: calc(50% - 750px);
        width: 1500px;
        height: 100px;
        z-index: 2;
        background-color: #37252C;
        border-radius: 20px 20px 0 0;
        box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 25px 100px 0 100px;
        .logo {
            position: absolute;
            width: 116px;
            height: 50px;
            font-family: 'Caveat Brush';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 25px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            span {
                background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            @media (min-width: 769px) and (max-width: 1500px) {
                width: 90px;
                height: 40px;
                line-height: 20px;
                font-size: 20px;
                span {
                    font-size: 25px;
                }
            }
        }
        nav {
            margin-left: 288px;
            line-height: 50px;
            width: 650px;
            display: flex;
            justify-content: space-between;
            a {
                font-family: 'Baloo 2';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                text-decoration: none;
                text-transform: uppercase;
                color: #FFFFFF;
                &:hover,
                &.active {
                    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
            @media (min-width: 769px) and (max-width: 1500px) {
                margin-left: 144px;
                line-height: 40px;
                width: 350px;
                a {
                    font-size: 15px;
                }
            }
        }
        .buttons {
            width: 160px;
            height: 40px;
            position: absolute;
            right: 100px;
            top: 30px;
            display: flex;
            justify-content: space-between;
            @media (min-width: 769px) and (max-width: 1500px) {
                width: 140px;
                top: 20px;
                right: 20px;
            }
            div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
                img {
                    border-radius: 50%;
                }
                &:hover {
                    filter: drop-shadow(0px 0px 10px #FF8A00);
                }
            }
        }
        @media (min-width: 769px) and (max-width: 1500px) {
            left: calc(50% - 365px);
            width: 730px;
            height: 80px;
            padding: 20px 20px 0 20px;
            .tokenomics {
                display: none;
            }
        }
        @media (max-width: 768px) {
            width: 340px;
            height: 70px;
            padding: 15px 20px 0 20px;
            left: calc(50% - 170px);
            nav {
                display: none;
            }
            .logo {
                width: 90px;
                height: 40px;
                line-height: 20px;
                font-size: 20px;
                span {
                    font-size: 25px;
                }
            }
            .buttons {
                width: 140px;
                top: 15px;
                right: 20px;
            }
        }
    }
}