@font-face {
  font-family: 'Caveat Brush';
  src: url("../../fonts/CaveatBrush-Regular.ttf");
}

@font-face {
  font-family: 'Baloo 2';
  src: url("../../fonts/Baloo2-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 375px;
  position: relative;
  background-color: gray;
}

body a {
  text-decoration: none;
  color: white;
}

body header {
  position: absolute;
  left: calc(50% - 750px);
  width: 1500px;
  height: 100px;
  z-index: 2;
  background-color: #37252C;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  padding: 25px 100px 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header .mobile_menu {
  position: absolute;
  opacity: 0;
}

body header .mobile_menu > * {
  display: none;
}

body header .menu {
  display: none;
}

body header .logo {
  position: absolute;
  width: 116px;
  height: 50px;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 2;
}

body header .logo span {
  background: -webkit-gradient(linear, left top, left bottom, from(#F98801), to(rgba(255, 212, 103, 0.49)));
  background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body header .logo span {
    font-size: 25px;
  }
}

body header > nav {
  margin-left: 258px;
  line-height: 50px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

body header > nav a {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

body header > nav a:hover, body header > nav a.active {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header > nav {
    margin-left: 114px;
    line-height: 40px;
    width: 460px;
  }
  body header > nav a {
    font-size: 15px;
  }
}

body header .avatar {
  display: none;
}

body header .avatar.active {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 341px;
  border-radius: 50%;
  background-size: 50px 50px;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header .avatar.active {
    width: 40px;
    height: 40px;
    right: 75px;
    background-size: 40px 40px;
  }
}

body header .avatar.active img {
  width: 100%;
}

body header .button {
  z-index: 3;
  width: 220px;
  height: 50px;
  right: 100px;
  position: absolute;
}

body header .button img {
  display: none;
}

@media (max-width: 1500px) {
  body header .button {
    width: 40px;
    height: 40px;
    right: 20px;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    border-radius: 50%;
  }
  body header .button img {
    display: block;
    width: 40px;
    height: 40px;
  }
  body header .button:hover {
    -webkit-filter: drop-shadow(0px 0px 10px #FF8A00);
            filter: drop-shadow(0px 0px 10px #FF8A00);
  }
}

body header .button:hover .shadow {
  position: absolute;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header .button:hover .shadow {
    display: none;
  }
}

@media (max-width: 768px) {
  body header .button:hover .shadow {
    display: none;
  }
}

body header .button .but {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: linear-gradient(355.71deg, #B85607 2.97%, #FFB168 96.51%);
  z-index: 2;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header .button .but {
    display: none;
  }
}

@media (max-width: 768px) {
  body header .button .but {
    display: none;
  }
}

body header .button .but p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #181818;
  text-transform: uppercase;
}

body header .button .but p:active {
  color: white;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body header {
    width: 730px;
    left: calc(50% - 365px);
    height: 80px;
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 768px) {
  body header {
    width: 340px;
    height: 70px;
    padding: 15px 29px 0 29px;
    left: calc(50% - 170px);
    -webkit-transition: 0.5s height;
    transition: 0.5s height;
  }
  body header .menu {
    z-index: 3;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    -webkit-transition: 1s -webkit-transform;
    transition: 1s -webkit-transform;
    transition: 1s transform;
    transition: 1s transform, 1s -webkit-transform;
  }
  body header .menu:hover {
    -webkit-filter: drop-shadow(0px 0px 10px #FF8A00);
            filter: drop-shadow(0px 0px 10px #FF8A00);
  }
  body header .menu.active {
    background: white;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  body header .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
    left: 130px;
  }
  body header .logo span {
    font-size: 25px;
  }
  body header > nav {
    display: none;
  }
  body header .avatar {
    display: none;
  }
  body header .avatar.active {
    display: none;
  }
  body header.active {
    height: 430px;
  }
  body header.active .mobile_menu {
    opacity: 1;
    -webkit-transition: 0.1s opacity 0.5s;
    transition: 0.1s opacity 0.5s;
    width: 140px;
    height: 290px;
    top: 100px;
    left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header.active .mobile_menu > nav {
    height: 220px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header.active .mobile_menu > nav a {
    color: white;
    text-decoration: none;
    font-family: 'Baloo 2';
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
  }
  body header.active .mobile_menu > nav a:hover, body header.active .mobile_menu > nav a.active {
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  body header.active .mobile_menu > div {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header.active .mobile_menu > div a {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  }
  body header.active .mobile_menu > div a:hover {
    -webkit-filter: drop-shadow(0px 0px 5px #FF8A00);
            filter: drop-shadow(0px 0px 5px #FF8A00);
  }
  body header.active .mobile_menu > div a img {
    height: 40px;
    width: 40px;
  }
}

body main {
  min-height: 100vh;
  position: relative;
  padding-top: 100px;
  padding-bottom: 250px;
}

body main .fon {
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #3F1D24;
  position: absolute;
  z-index: -1;
}

body main .fon .fon1 {
  height: 1100px;
  background-image: url("../../image/fon/forest2.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body main .fon .fon1 .fon2 {
  height: 120px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url("../../image/fon/fonn.png");
  background-repeat: no-repeat;
  background-size: 150% 100%;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body main .fon .fon1 {
    height: 1200px;
  }
}

@media (max-width: 768px) {
  body main .fon .fon1 {
    height: 960px;
  }
  body main .fon .fon1 .fon2 {
    height: 60px;
  }
}

body main .sec1 {
  min-height: 1150px;
  width: 1300px;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 95px;
  position: relative;
}

body main .sec1 .menu {
  position: absolute;
  top: 35px;
  width: 1300px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec1 .menu .profile {
  width: 310px;
  height: 500px;
  background: #37252C;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 30px;
  text-align: center;
}

body main .sec1 .menu .profile .img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 15px;
}

body main .sec1 .menu .profile .img img {
  width: 100%;
}

body main .sec1 .menu .profile .wallet {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 15px;
}

body main .sec1 .menu .profile .select {
  height: 126px;
  margin-bottom: 48px;
}

body main .sec1 .menu .profile .select p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
}

body main .sec1 .menu .profile .select p:nth-child(1), body main .sec1 .menu .profile .select p:nth-child(2) {
  border-bottom: 1px solid #3D2D33;
}

body main .sec1 .menu .profile .select p:nth-child(2) {
  line-height: 43px;
}

body main .sec1 .menu .profile .select p:not(:hover), body main .sec1 .menu .profile .select p:not(.active) {
  color: #FFFFFF;
}

body main .sec1 .menu .profile .select p:hover, body main .sec1 .menu .profile .select p.active {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body main .sec1 .menu .profile > p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #88767D;
}

body main .sec1 .menu .nav {
  width: 970px;
  height: 40px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec1 .menu .nav .poisk {
  width: 530px;
  height: 40px;
  border-radius: 20px;
  background: #37252C;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  padding-top: 8px;
  position: relative;
}

body main .sec1 .menu .nav .poisk img {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

body main .sec1 .menu .nav .poisk input {
  position: absolute;
  top: 8px;
  margin-left: 10px;
  height: 24px;
  outline: none;
  border: none;
  width: 400px;
  background-color: #37252C;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #e4e4e4;
}

body main .sec1 .menu .nav .poisk input::-webkit-input-placeholder {
  color: #88767D;
}

body main .sec1 .menu .nav .poisk input:-ms-input-placeholder {
  color: #88767D;
}

body main .sec1 .menu .nav .poisk input::-ms-input-placeholder {
  color: #88767D;
}

body main .sec1 .menu .nav .poisk input::placeholder {
  color: #88767D;
}

body main .sec1 .menu .nav .Ditems {
  overflow: hidden;
  width: 200px;
  -webkit-transition: 0.2s height;
  transition: 0.2s height;
  height: 40px;
  border-radius: 20px;
  background: #37252C;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
}

body main .sec1 .menu .nav .Ditems .main {
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

body main .sec1 .menu .nav .Ditems .main .mainname {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 10px;
}

body main .sec1 .menu .nav .Ditems .main .img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../../image/profile/rij.png");
}

body main .sec1 .menu .nav .Ditems .select {
  opacity: 0;
}

body main .sec1 .menu .nav .Ditems.active {
  z-index: 2;
  height: 150px;
}

body main .sec1 .menu .nav .Ditems.active .main .img {
  background-image: url("../../image/profile/wit.png");
}

body main .sec1 .menu .nav .Ditems.active .select {
  opacity: 1;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 110px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #3D2D33;
  padding: 10px 0 12px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec1 .menu .nav .Ditems.active .select p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

body main .sec1 .menu .nav .Ditems.active .select p:not(.active), body main .sec1 .menu .nav .Ditems.active .select p:not(:hover) {
  color: #FFFFFF;
}

body main .sec1 .menu .nav .Ditems.active .select p.active, body main .sec1 .menu .nav .Ditems.active .select p:hover {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body main .sec1 .menu .nav .raritis {
  overflow: hidden;
  width: 200px;
  -webkit-transition: 0.2s height;
  transition: 0.2s height;
  height: 40px;
  border-radius: 20px;
  background: #37252C;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
}

body main .sec1 .menu .nav .raritis .main {
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

body main .sec1 .menu .nav .raritis .main .mainname {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 10px;
}

body main .sec1 .menu .nav .raritis .main .img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: contain;
  background-image: url("../../image/profile/rij.png");
}

body main .sec1 .menu .nav .raritis .select {
  opacity: 0;
}

body main .sec1 .menu .nav .raritis.active {
  z-index: 2;
  height: 240px;
}

body main .sec1 .menu .nav .raritis.active .main .img {
  background-image: url("../../image/profile/wit.png");
}

body main .sec1 .menu .nav .raritis.active .select {
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #3D2D33;
  padding: 10px 0 12px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec1 .menu .nav .raritis.active .select p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

body main .sec1 .menu .nav .raritis.active .select p:not(.active), body main .sec1 .menu .nav .raritis.active .select p:not(:hover) {
  color: #FFFFFF;
}

body main .sec1 .menu .nav .raritis.active .select p.active, body main .sec1 .menu .nav .raritis.active .select p:hover {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body main .sec1 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  min-height: 900px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body main .sec1 .cards .card {
  width: 310px;
  height: 440px;
  border-radius: 20px;
  background-color: #181818;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

body main .sec1 .cards .card:nth-child(1) {
  margin-left: 330px;
}

body main .sec1 .cards .card:nth-child(4n) {
  margin-left: 0;
}

body main .sec1 .cards .card > img {
  position: absolute;
  width: 100%;
}

body main .sec1 .cards .card .text {
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: #181818;
  width: 100%;
  height: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 10px;
}

body main .sec1 .cards .card .text p {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;
  /* Style */
  color: #FFFFFF;
}

body main .sec1 .cards .card .text .heart {
  position: absolute;
  width: 20px;
  height: 19px;
  right: 22px;
  bottom: 22px;
  background-image: url("../../image/profile/wherat.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}

body main .sec1 .cards .card .text .heart:hover {
  background-image: url("../../image/profile/rherat 1.png");
}

body main .sec1 .cards .card .text > .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  width: 60px;
  height: 60px;
  border-radius: 0px 20px 0px 20px;
  background-color: #181818;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body main .sec1 .cards .card .text > .menu ul {
  opacity: 0;
  -webkit-transition: 1s opacity 0.2s;
  transition: 1s opacity 0.2s;
}

body main .sec1 .cards .card .text > .menu ul li {
  display: none;
}

body main .sec1 .cards .card .text > .menu .cat {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 20px;
  left: 20px;
  background-image: url("../../image/profile/wcat.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body main .sec1 .cards .card .text > .menu:hover .cat {
  background-image: url("../../image/profile/rcat.png");
}

body main .sec1 .cards .card.like .text .heart {
  background-image: url("../../image/profile/rherat.png");
}

body main .sec1 .cards .card.active .text > .menu {
  width: 200px;
  height: 230px;
  background-color: rgba(24, 24, 24, 0.9);
}

body main .sec1 .cards .card.active .text > .menu ul {
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 150px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .sec1 .cards .card.active .text > .menu ul li {
  display: block;
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

body main .sec1 .cards .card.active .text > .menu ul li:not(:hover) {
  color: #FFFFFF;
}

body main .sec1 .cards .card.active .text > .menu ul li:hover {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body main .sec1 .cards .card.active .text > .menu .cat {
  background-image: url("../../image/profile/rcat.png");
}

@media (min-width: 1500px) {
  body main .sec1 .cards .card.active .text > .menu {
    background-color: #181818;
  }
}

@media (min-width: 769px) and (max-width: 1500px) {
  body main {
    padding: 80px 0;
    padding-bottom: 240px;
  }
  body main .sec1 {
    min-height: 1030px;
    width: 728px;
    padding-top: 149px;
  }
  body main .sec1 .menu {
    top: 34px;
    width: 728px;
    height: 395px;
  }
  body main .sec1 .menu .profile {
    width: 167px;
    height: 395px;
    padding-top: 20px;
  }
  body main .sec1 .menu .profile .img {
    width: 125px;
    height: 125px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  body main .sec1 .menu .profile .img img {
    width: 100%;
  }
  body main .sec1 .menu .profile .wallet {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 15px;
  }
  body main .sec1 .menu .profile .select {
    height: 102px;
    margin-bottom: 50px;
  }
  body main .sec1 .menu .profile .select p {
    font-size: 15px;
    line-height: 34px;
  }
  body main .sec1 .menu .profile .select p:nth-child(2) {
    line-height: 34px;
  }
  body main .sec1 .menu .nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 541px;
    height: 95px;
  }
  body main .sec1 .menu .nav .poisk {
    width: 541px;
    margin-bottom: 15px;
  }
  body main .sec1 .menu .nav .Ditems,
  body main .sec1 .menu .nav .raritis {
    width: 263px;
  }
  body main .sec1 .menu .nav .Ditems .main,
  body main .sec1 .menu .nav .raritis .main {
    width: 223px;
  }
  body main .sec1 .cards {
    width: 728px;
    min-height: 880px;
  }
  body main .sec1 .cards .card {
    width: 167px;
    height: 280px;
  }
  body main .sec1 .cards .card:nth-child(1) {
    margin-left: 187px;
  }
  body main .sec1 .cards .card .text {
    padding-top: 5px;
    height: 78px;
  }
  body main .sec1 .cards .card .text p {
    font-size: 18px;
    line-height: 29px;
  }
  body main .sec1 .cards .card .text .heart {
    right: 17px;
    bottom: 12px;
  }
  body main .sec1 .cards .card .text > .menu {
    height: 40px;
    width: 40px;
  }
  body main .sec1 .cards .card .text > .menu .cat {
    bottom: 12px;
    left: 17px;
  }
  body main .sec1 .cards .card.active .text > .menu {
    width: 100%;
    border-radius: 0;
    height: 280px;
  }
  body main .sec1 .cards .card.active .text > .menu ul {
    top: 27px;
    left: 17px;
    height: 190px;
  }
  body main .sec1 .cards .card.active .text > .menu ul li {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 769px) {
  body main {
    padding: 70px 0;
    padding-bottom: 170px;
  }
  body main .sec1 {
    min-height: 1305px;
    width: 335px;
    padding-top: 425px;
  }
  body main .sec1 .menu {
    z-index: 1;
    top: 20px;
    width: 335px;
    height: 390px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .sec1 .menu .profile {
    width: 157px;
    height: 280px;
    padding-top: 15px;
  }
  body main .sec1 .menu .profile .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  body main .sec1 .menu .profile .img img {
    width: 100%;
  }
  body main .sec1 .menu .profile .wallet {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  body main .sec1 .menu .profile .select {
    height: 90px;
    margin-bottom: 21px;
  }
  body main .sec1 .menu .profile .select p {
    font-size: 13px;
    line-height: 30px;
  }
  body main .sec1 .menu .profile .select p:nth-child(2) {
    line-height: 30px;
  }
  body main .sec1 .menu .nav {
    width: 335px;
    height: 95px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body main .sec1 .menu .nav .poisk {
    width: 335px;
    margin-bottom: 15px;
  }
  body main .sec1 .menu .nav .poisk input {
    width: 250px;
  }
  body main .sec1 .menu .nav .Ditems,
  body main .sec1 .menu .nav .raritis {
    width: 157px;
  }
  body main .sec1 .menu .nav .Ditems .main,
  body main .sec1 .menu .nav .raritis .main {
    width: 128px;
    margin-left: 15px;
  }
  body main .sec1 .menu .nav .Ditems .main .mainname,
  body main .sec1 .menu .nav .raritis .main .mainname {
    margin-left: 0;
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .menu .nav .Ditems .main .mainname {
    margin-left: 10px;
  }
  body main .sec1 .cards {
    width: 335px;
    min-height: 780px;
  }
  body main .sec1 .cards .card {
    width: 158px;
    height: 250px;
    margin: 0;
    margin-bottom: 15px;
  }
  body main .sec1 .cards .card:nth-child(1) {
    margin-left: 0;
  }
  body main .sec1 .cards .card:nth-child(2n) {
    margin-left: 19px;
  }
  body main .sec1 .cards .card .text {
    height: 70px;
    padding-top: 5px;
  }
  body main .sec1 .cards .card .text p {
    font-size: 15px;
    line-height: 24px;
  }
  body main .sec1 .cards .card .text .heart {
    bottom: 12px;
    right: 12px;
  }
  body main .sec1 .cards .card .text > .menu {
    width: 40px;
    height: 40px;
  }
  body main .sec1 .cards .card .text > .menu .cat {
    bottom: 12px;
    left: 12px;
  }
  body main .sec1 .cards .card.active .text > .menu {
    width: 100%;
    border-radius: 0;
    height: 250px;
  }
  body main .sec1 .cards .card.active .text > .menu ul {
    top: 24px;
    left: 12px;
    height: 170px;
  }
  body main .sec1 .cards .card.active .text > .menu ul li {
    font-size: 14px;
    line-height: 22px;
  }
}

body footer {
  position: absolute;
  bottom: 0;
  left: calc(50% - 750px);
  width: 1500px;
  height: 100px;
  z-index: 2;
  background-color: #37252C;
  border-radius: 20px 20px 0 0;
  -webkit-box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 100px 0 100px;
}

body footer .logo {
  position: absolute;
  width: 116px;
  height: 50px;
  font-family: 'Caveat Brush';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

body footer .logo span {
  background: -webkit-gradient(linear, left top, left bottom, from(#F98801), to(rgba(255, 212, 103, 0.49)));
  background: linear-gradient(180deg, #F98801 0%, rgba(255, 212, 103, 0.49) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body footer .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body footer .logo span {
    font-size: 25px;
  }
}

body footer nav {
  margin-left: 288px;
  line-height: 50px;
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer nav a {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

body footer nav a:hover, body footer nav a.active {
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body footer nav {
    margin-left: 144px;
    line-height: 40px;
    width: 350px;
  }
  body footer nav a {
    font-size: 15px;
  }
}

body footer .buttons {
  width: 160px;
  height: 40px;
  position: absolute;
  right: 100px;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 769px) and (max-width: 1500px) {
  body footer .buttons {
    width: 140px;
    top: 20px;
    right: 20px;
  }
}

body footer .buttons div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(355.71deg, #D26B19 2.97%, #EB9A50 96.51%);
}

body footer .buttons div img {
  border-radius: 50%;
}

body footer .buttons div:hover {
  -webkit-filter: drop-shadow(0px 0px 10px #FF8A00);
          filter: drop-shadow(0px 0px 10px #FF8A00);
}

@media (min-width: 769px) and (max-width: 1500px) {
  body footer {
    left: calc(50% - 365px);
    width: 730px;
    height: 80px;
    padding: 20px 20px 0 20px;
  }
  body footer .tokenomics {
    display: none;
  }
}

@media (max-width: 768px) {
  body footer {
    width: 340px;
    height: 70px;
    padding: 15px 20px 0 20px;
    left: calc(50% - 170px);
  }
  body footer nav {
    display: none;
  }
  body footer .logo {
    width: 90px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
  }
  body footer .logo span {
    font-size: 25px;
  }
  body footer .buttons {
    width: 140px;
    top: 15px;
    right: 20px;
  }
}

body .senails {
  position: fixed;
  z-index: 5;
  right: 1vh;
  top: 15vh;
  width: 5vh;
  height: 15vh;
}

@media (max-width: 768px) {
  body .senails {
    top: 35vh;
  }
}

body .senails img {
  width: 5vh;
  height: 5vh;
}
